binds {
        // -- window management -- //
        Mod+A { focus-column-left; }                // focus left column
        Mod+W { focus-window-up; }                  // focus above window
        Mod+S { focus-window-down; }                // focus below window
        Mod+D { focus-column-right; }               // focus right column
        Mod+Q { close-window; }                     // close window 
        Mod+F { maximize-column; }
        Mod+Tab { toggle-overview; }                // toggle workspace overview
        Mod+Shift+A { move-column-left; }           // move column to the left
        Mod+Shift+S { move-window-down; }           // move window down
        Mod+Shift+W { move-window-up; }             // move window up
        Mod+Shift+D { move-column-right; }          // move column to the right
        
        // -- workspace management -- //          
        Mod+1 { focus-workspace 1; }                // focus workspace 1
        Mod+2 { focus-workspace 2; }                // focus workspace 2
        Mod+3 { focus-workspace 3; }                // focus workspace 3
        Mod+4 { focus-workspace 4; }                // focus workspace 4
        Mod+5 { focus-workspace 5; }                // focus workspace 5
        Mod+6 { focus-workspace 6; }                // focus workspace 6
        Mod+7 { focus-workspace 7; }                // focus workspace 7
        Mod+8 { focus-workspace 8; }                // focus workspace 8
        Mod+9 { focus-workspace 9; }                // focus workspace 9
        Mod+Shift+1 { move-window-to-workspace 1; } // move window to workspace 1
        Mod+Shift+2 { move-window-to-workspace 2; } // move window to workspace 2
        Mod+Shift+3 { move-window-to-workspace 3; } // move window to workspace 3 
        Mod+Shift+4 { move-window-to-workspace 4; } // move window to workspace 4
        Mod+Shift+5 { move-window-to-workspace 5; } // move window to workspace 5
        Mod+Shift+6 { move-window-to-workspace 6; } // move window to workspace 6
        Mod+Shift+7 { move-window-to-workspace 7; } // move window to workspace 7
        Mod+Shift+8 { move-window-to-workspace 8; } // move window to workspace 8
        Mod+Shift+9 { move-window-to-workspace 9; } // move window to workspace 9
      
        // -- misc -- //                            // for vms and such, toggles keyboard shortcut inhibiting
        Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
        Mod+Shift+Control+Q { quit; }               // close niri

        // -- programs -- //
        Mod+T hotkey-overlay-title="Spawn foot" { spawn "foot"; }
        Mod+R hotkey-overlay-title="Open launcher" { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
        Mod+Shift+T hotkey-overlay-title="Spawn emacs" { spawn "emacs"; }
}

